<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Topics For IBM's Watson!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	{{!-- <script src="/assets/img/giphy.gif"></script> --}}

    <script src="/assets/js/watson.js"></script>
    

	{{!-- FROM MY LAST PROJECT (LARRYP).  Please leave here for now --}}

    <!-- Bootstrap DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.2.1/jq-3.2.1/dt-1.10.16/datatables.min.css"/>
    <!-- Bootstrap Tables CSS -->
    <link rel="stylesheet" href="https://rawgit.com/wenzhixin/bootstrap-table/master/src/bootstrap-table.css">

    <!-- jQuery & jQuery UI -->
    <!-- DataTables JS -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.2.1/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <!-- BootstrapTable File -->
    <script src="https://rawgit.com/wenzhixin/bootstrap-table/master/src/bootstrap-table.js"></script>

    <!-- Popper / Bootstrap.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js'></script>

    <!-- CSS Reset -->
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
	{{!-- END: FROM MY LAST PROJECT (LARRYP).  Please leave here for now --}}
	{{!-- PUT THESE LAST So Nothing Overrides Them --}}
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

	</head>
	<body>
   
		{{{ body }}}
	</body>
</html>
